/*
    Gun Range Web Interactive
    Author: Hao Ren Yuan
    Date: March 6, 2023
    Filename: visual_layout.css
*/
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 10px solid #fff;
}

header {
	background-color: #444;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline
}

/* Style for the main content area */

.interactive-section {
	margin-left: 200px; /* Ensure content is not covered by the sidebar */
    padding: 20px;

	position: relative;
	width: 1400px;
	height: 400px;
	background-color: #444;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 50px;
	cursor: url('Assets/Crosshair.png') 25 25, auto;
	border: 10px solid #807153;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.target {
	position: absolute;
	width: 50px;
	height: 90px;
	background-image: url('Assets/Target.png');
	background-size: cover;
	cursor: pointer;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.target1 {
	position: absolute;
	width: 75px;
	height: 100px;
	background-image: url('Assets/Civilian.png');
	background-size: cover;
	cursor: pointer;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.target:hover, .target1:hover {
	cursor: url('Assets/Crosshair.png') 25 25, auto;
	/*cursor: crosshair;  Set cursor to crosshair when hovering */
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.gun {
	position: absolute;
	pointer-events: none;
}

#glock {
	width: 90px;
	height: 120px;
	position: absolute;
	bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
	pointer-events: none; /* Disable pointer events to prevent interference with the target */
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

#aimed_glock {
	display: none;
	width: 70px;
	height: 120px;
	position: absolute;
	bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
	pointer-events: none; /* Disable pointer events to prevent interference with the target */
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

#uzi {
	width: 90px;
	height: 120px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none; /* Disable pointer events to prevent interference with the target */
	-webkit-touch-callout: none; /* Disable iOS touch callout */
	-webkit-user-select: none; /* Disable text selection on iOS */
	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
	-moz-user-select: none; /* Disable text selection for Firefox */
	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

#counter {
	position: absolute;
	bottom: 0;
	width: 0;
	text-align: center;
	font-size: 2em;
	color: #fff;
	z-index: 2;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.container {
	width: 100%;
	max-width: 1500px;
	height: 450px;
	position: absolute;
	transition: all 0.5s;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.container img {
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.btn {
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 50%;
	z-index: 10px;
	cursor: pointer;
	background-color: #fff;
	font-size: 18px;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}
.btn:active {
	transform: scale(1.1);
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}
.btn-prev {
	top: 45%;
	left: 2%;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.btn-next {
	top: 45%;
	right: 2%;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */

	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
}

.toggle-difficulty{
	z-index: 3;
	top: 10%;
	left: 2%;
}

.civilian-difficulty{
	z-index: 3;
	top: 20%;
	left: 2%;
}

.button-container{
	display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items vertically */
	align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
	z-index: 2;
	background-color: #ffffff;
	height: auto;
	top: 10%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.button-container1{
	display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items vertically */
	align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
	z-index: 2;
	background-color: #ffffff;
	height: auto;
	top: 10%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Styles for each button */
.button-container button {
  margin-bottom: 10px; /* Add space between buttons vertically */
}

/* Styles for each button */
.button-container1 button {
	margin-bottom: 10px; /* Add space between buttons vertically */
}

/* Responsive styles */
@media (max-width: 600px) {
	header h1 {
		font-size: 24px;
	}
	.counters div {
		font-size: 18px;
	}
	.interactive-section {
		height: 200px;
	}
}
