/*
    Gun Range Web Interactive
    Author: Hao Ren Yuan
    Date: March 6, 2023
    Filename: visual_layout.css
*/
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 10px solid #fff;
}

header {
	background-color: #222;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline
}

.interactive-section {
	position: relative;
	width: 1400px;
	height: 400px;
	background-color: #444;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 50px;
	cursor: url('Assets/Crosshair.png') 25 25, auto;
	border: 10px solid #807153;
  }

  .target {
	position: absolute;
	width: 50px;
	height: 90px;
	background-image: url('Assets/Target.png');
	background-size: cover;
	cursor: pointer;
	z-index: 1;
  }

  .target:hover {
	cursor: url('Assets/Crosshair.png') 25 25, auto;
	/*cursor: crosshair;  Set cursor to crosshair when hovering */
  }

  #container {
	position: relative;
	height: 350px;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */
	
	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
  }
  
  #glock {
	width: 90px;
	height: 120px;
	position: absolute;
	bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */
	
	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
  }

  #counter {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 2em;
	color: #fff;
	z-index: 2;
	-webkit-touch-callout: none; /* Disable iOS touch callout */
  	-webkit-user-select: none; /* Disable text selection on iOS */
  	-khtml-user-select: none; /* Disable text selection for Konqueror browser */
  	-moz-user-select: none; /* Disable text selection for Firefox */
  	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
  	user-select: none; /* Disable text selection for other browsers */
	
	-webkit-user-drag: none; /* Disable dragging on WebKit-based browsers */
	-khtml-user-drag: none; /* Disable dragging on Konqueror browser */
	-moz-user-drag: none; /* Disable dragging on Firefox */
	-o-user-drag: none; /* Disable dragging on Opera */
  } 

  /* Responsive styles */
@media (max-width: 600px) {
	header h1 {
		font-size: 24px;
	}
	.counters div {
		font-size: 18px;
	}
	.interactive-section {
		height: 200px;
	}
}
  
